.navbar_item {
    color: orange;
    border-radius: 25px;
    border: 10px solid #ffdca4;
}

.active_navbar_item {
    color: orange;
    border-radius: 25px;
    border: 10px solid #ffdca4;
    background-color: #ffdca4;
}

#home_gradient {
background: linear-gradient(#d2d8d8, white);}

a { color: orange; }
a:hover { color: orange;}
